<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.newsserver.mapper.NewsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.newsserver.entity.NewsComment" >
    <result column="news_id" property="newsId" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    news_id, comment
  </sql>
  <select id="getNewsComment" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from news_comment
    <where>
      <if test="newsId != null">
        AND news_id = #{newsId}
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="Map" >
    delete from news_comment
    where news_id = #{newsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.masterchengzi.newsserver.entity.NewsComment" >
    insert into news_comment (news_id, comment)
    values (#{newsId,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.masterchengzi.newsserver.entity.NewsComment" >
    update news_comment
    <set >
      <if test="newsId != null" >
        news_id = #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>