<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.newsserver.mybatis.NewsMessMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.newsserver.entity.NewsMess" >
    <result column="news_id" property="newsId" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="read_times" property="readTimes" jdbcType="INTEGER" />
    <result column="love_times" property="loveTimes" jdbcType="INTEGER" />
    <result column="comment_times" property="commentTimes" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.masterchengzi.newsserver.entity.NewsMess" >
    insert into news_mess (news_id, tag, read_times,
      love_times, comment_times)
    values (#{newsId,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{readTimes,jdbcType=INTEGER},
      #{loveTimes,jdbcType=INTEGER}, #{commentTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.masterchengzi.newsserver.entity.NewsMess" >
    insert into news_mess
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="readTimes != null" >
        read_times,
      </if>
      <if test="loveTimes != null" >
        love_times,
      </if>
      <if test="commentTimes != null" >
        comment_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="readTimes != null" >
        #{readTimes,jdbcType=INTEGER},
      </if>
      <if test="loveTimes != null" >
        #{loveTimes,jdbcType=INTEGER},
      </if>
      <if test="commentTimes != null" >
        #{commentTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>