<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.newsserver.mybatis.UserLoveTagMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.newsserver.entity.UserLoveTag" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.masterchengzi.newsserver.entity.UserLoveTag" >
    insert into user_love_tag (user_id, tags)
    values (#{userId,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.masterchengzi.newsserver.entity.UserLoveTag" >
    insert into user_love_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tags != null" >
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>